<link rel="stylesheet" href="signup.component.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container">
<div class="signup">
    <h3 style="font-weight: bold;">Not a Member?<br>Signup Here</h3>
    <br>
    <div class='uploadImg' style="height:72px;width:72px;border-radius: 50%;margin:30px auto 0px;" (click)='uploadImg()'>
        <img   [src]="imgUrl||'assets/add-image.svg'" style="height:100%;width:100%;border-radius: 50%;object-fit:cover;overflow:hidden;" alt="">
        <input type="file" #imgInput>

    </div>
    <div style='width:100%; text-align: center;'>
    
        <small><em>*upload image here</em></small>

    </div>
    <div>
        <label for="">Choose Account Type</label>
        <span style="display:flex;align-items: center;width: 100%;">
            <button  class="btn  buttonGroup tab" [ngClass]="{live:acnt_type=='nu'}" [disabled]="acnt_type=='nu'" (click)="toggle_acnt_type('nu')" id="nUBtn">Normal User</button>
            <button  class="btn  buttonGroup tab" [ngClass]="{live:acnt_type=='doc'}" [disabled]="acnt_type=='doc'" (click)="toggle_acnt_type('doc')" id="docBtn">Doctor</button>
        </span>

    </div>


    <form [formGroup]='doctorForm' *ngIf="acnt_type=='doc'">
            
            
           
        <div class="form-group fieldDiv" style="margin-bottom: 0px;">
        <br>
            <label for="firstName">Full Name</label>
            <input type="text" class="form-control" formControlName="name" id="fullName" placeholder="Full Name" required>
        </div>
        <div class="form-group fieldDiv" style="margin-bottom: 0px;">
            <label for="speciality">Speciality</label>
            <input type="text" class="form-control"  formControlName="speciality" id="speciality" placeholder="Speciality" required>
        </div>
        <div class="form-group fieldDiv" style="margin-bottom: 0px;">
            <label for="hospital">Your Current Hospital</label>
            <input type="text" [matAutocomplete]="auto" formControlName="currentHospital" class="form-control" id="hospital" placeholder="Current Hospital" required>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
        </div>
        <!-- <div class="form-group fieldDiv" style="margin-bottom: 0px;">
            <label for="age">Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age" required>
        </div> -->
        <!-- (yearSelected)="chosenYearHandler($event)"
                        
                        [formControl]="date"
                    
                    -->
                    <div class="form-group fieldDiv" style="margin-bottom: 0px;">
                        <label for="exp">You Started Practicing  in</label>
                        <span>
                            <input [value]='expValue||""'   class="form-control special" placeholder='Your Experience'(click)='dateIpClick()' id=exp readonly required>
        <input [matDatepicker]="dp" [matDatepickerFilter]="pastFilter" [(ngModel)]="expValue" [ngModelOptions]="{standalone: true}" type="hidden">
        <!-- <mat-datepicker-toggle   matSuffix [for]="dp"></mat-datepicker-toggle> -->
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event)"
                        (monthSelected)="chosenMonthHandler($event, dp)"
                        (viewChanged)="dateViewChange($event,dp)"

                        touchUi
                        
                        panelClass="example-month-picker">
                   
        </mat-datepicker>

                        </span>
                        
                    </div>

        <br>
        <!-- <div class="gender form-group">
            <label for="sex">Gender</label>
            <select name="sex" id="sex" class="form-control">
               
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="trans">Transgender</option>
                <option value="other">Other</option>
            </select>
            
        </div> -->
        </form>
    
        

        <form [formGroup]='userForm' *ngIf="acnt_type=='nu'" [formGroup]='userForm'>
            
            
           
            <div class="form-group fieldDiv" style="margin-bottom: 0px;">
            <br>
                <label for="firstName">Full Name</label>
                <input formControlName="name" type="text" class="form-control" id="fullName" placeholder="Full Name" required>
            </div>
            <div class="form-group fieldDiv" style="margin-bottom: 0px;">
                <label for="age">Age</label>
                <input type="number" formControlName="age" class="form-control" id="age" min='18' max='120' placeholder="Age" required>
            </div>
            <br>
            <div class="gender form-group">
                <label for="sex">Gender</label>
                <select formControlName="sex" name="sex" id="sex"  class="form-control">
                    <option value="" default hidden='hidden'>Choose Your Gender</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="trans">Transgender</option>
                    <option value="other">Other</option>
                </select>
                
            </div>
            </form>
        <form action="" [formGroup]='commonForm'>

            <div class="form-group fieldDiv" style="margin-bottom: 0px;" >
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" formControlName='phone'  required>
            </div>


            <div class="form-group fieldDiv" style="margin-bottom: 0px;">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" placeholder="E-mail" formControlName='email' required>
                <small style='color:red' *ngIf='commonForm.controls.email.invalid&&(commonForm.controls.email.dirty||commonForm.controls.email.touched)'>*this is  not a valid email</small>
            </div>
            <div class="form-group fieldDiv" style="margin-bottom: 0px;">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="passWord" placeholder="Password" formControlName='password' required>
              <small style='color:red' *ngIf='(!passwordValid)&&(commonForm.controls.password.dirty||commonForm.controls.password.touched)'>*passwords must be atlest 8 characters long</small>
              <br>
                <small>Strong passwords contain special characters,numbers,lowercase letters and uppercase letters.</small>
            </div>
            <div class="form-group fieldDiv">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" id="confirm-password" formControlName='confirmPassword' required>
                <small style='color:red' *ngIf='(!passwordMatch)&&(commonForm.controls.confirmPassword.dirty||commonForm.controls.confirmPassword.touched)'>*passwords must match</small>
                
            </div>
           
            <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">I accept the<a href="#">Terms of Use</a> & <a href="#">Privacy Policy</a></label>
            </div> -->
            <small>*All fields are required.</small>
            <br>
            <br>
            <button type="submit" class="btn btn-primary buttonGroup" (click)='signUp()' [disabled]='((!commonForm.valid)||(acnt_type=="nu"&&(!userForm.valid))||(acnt_type=="doc"&&(!doctorForm.valid)))||!passwordMatch' style="margin-bottom:15px;" id="signUpBtn">Sign Up</button>
            <br>
            <h6>Already have an account? <a routerLink='/login' style="color: green;"> Login here</a></h6> 
            
        </form>
        
            
    
</div>
</div>
