.body
{    
    background-image: url("https://wallpaperaccess.com/full/619997.png");
    background-position: center;
    display: flex;
    width: 1580px;
    height: 880px;
}

.welcome
{
    position: relative;
    display: flex;
    flex-direction: column;
    background-clip: border-box;
    border-radius: .25rem;
    box-shadow: 0 2px 4px 0 rgba(3, 3, 3, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 70px;
    margin-top: 160px;
    margin-bottom: 80px;
    margin-left: 10%;
    margin-right: 150px;
    width: 48%;
    height: fit-content;
}

h6
{
    color: rgb(116, 117, 117);
    font-family: Verdana;
    text-align: justify;
    margin-left: 5px;
}

.buttonGroup
{
    background-color: rgb(0, 119, 255);
    border-radius: 8rem;
    padding: 10px;
    margin-top: 25px;
    
}

.a:hover{
    color: rgb(0, 89, 255);
}