<div id='body'>

    <h1 style='text-align: center;color:indigo'><span id="four-not-four">404</span> <br> Page Not Found</h1>
    <p style='text-align: center;color:rgb(177, 85, 243);text-shadow: 1px 1px 1px rgb(177, 85, 243,0.30);'>
        The resource you are looking either does not exist or removed from the server.
    </p>
    <div class='logo'>
        <span><a>H<img style='height:1.60ex;object-fit:cover;'src="assets/logo-part.svg" alt="" srcset="">Doc</a></span>


    </div>
    <button  id='go-home' routerLink='/'>Go to home</button>
    
    

</div>
