<link rel="stylesheet" href="login.component.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="container">
<div class="login">
    <h3 style="font-weight: bold;">Already a Member? <br> Login Here</h3>
    <br>
    <form id="LogIn">
        <div class="form-group fieldDiv" style="margin-bottom: 0px;">
        <br>
            <label for="userName"></label>
            <input type="text" class="form-control" id="Username" placeholder="Username" required>
        </div><br>
        <div class="form-group fieldDiv">
            <label for="passWord"></label>
            <input type="password" class="form-control" placeholder="Password" id="Password" required>
        </div><br>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div><br>
        <button type="submit" class="btn btn-primary buttonGroup" style="margin-bottom:15px;" id="loginBtn">Login</button>
        <br>
        <a href="#" style="color: green;">Forgot e-mail/password?</a><br>    
          <div class="Create">
            <a href="#" style="color: green;">Create an Account</a>
          </div>   
    </form>
</div>
</div>
