
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

    
    /* font-size: large; */
 }

.wrapper{
    /* width: 1170px; */
    display:inline;
    width:100%;
    /* margin: 0 auto; */
}
#header{
    height: 100px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* text-align: center; */
    background: #262626;
    width: 100%;
    z-index: 12;
    position: sticky;
    top:0;
}
.logo{
    text-align: left;
    width: fit-content;
    margin-left:20px;
    float: left;
    line-height: 100px;
    font-weight: 700;
    
}
.logo a{
    text-align: left;
    text-decoration: none;
    font-size: 3ex;
    
    /* font-family: bignoodletitling; */
    color: #fff;
    letter-spacing: 5px;
}
.logo img{
    filter: invert(63%) sepia(64%) saturate(4860%) hue-rotate(331deg) brightness(102%) contrast(106%);
}
#right{
    float: right;
    display:flex;
    align-items:center;
}
#header span{
    /* float: left; */
    display:inline;
    line-height: 100px;
}
#header span a{
    text-decoration: none;
    
    /* font-family: bignoodletitling; */
    letter-spacing: 4px;
    
    /* font-size: large; */
    margin: 0 10px;
    color: #fff;
}

#header a:hover
{
    color: royalblue;
}
#search{
    display:inline;
    height:fit-content;
    background-color: white;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    margin-right: 10px;
    /* float:right; */
    
    /* padding-top: 2px; */
}

#search input[type=text]{
    padding-left: 7px;
    
    border: none;
    height:100%;
    font-size: 10px;
}
#search input[type=text]:focus{
    outline:none;
}
#search button{
    /* float: right; */
    height:100%;
    background: blueviolet;
    color: white;
    
    cursor: pointer;
    position: relative;
    padding:7px;
    /* font-family: bignoodletitling; */
    border: none;
    font-size: 10px;
}
#search button:active{
    background-color:rgb(38, 23, 53);
}
.round-img{
    border-radius: 50%;
    object-position:center;
    object-fit: cover;
}
