
<div id="header">

    
      <div class="wrapper">
        <div class="logo">

          <span><a href="#">H<img style='height:1.60ex;object-fit:cover;'src="assets/logo-part.svg" alt="" srcset="">Doc</a></span>
        </div>
        <div id=right>

            <span>
                <!-- <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Doctors</a>
                <a routerLink="login">LogIn</a>
                <a routerLink="signup">SignUp</a> -->
                <a *ngFor='let link of links' [routerLink]='link.link'>{{link.name}}</a>
                
            
                </span>
                <div>
                  <div style="background-color:#636161;display:flex;flex-direction: row;align-items: center;border-radius: 5px;margin-right: 20px;padding:3px 10px;color:white;">
          
                    {{capitalize(profile.name||'guest')}}
                    <div style="width:40px;height:40px;border:2px;border-radius:50%;margin-left: 10px;background-color:#262626;">
                    
                      <img  class='round-img'[src]="profile.image||'assets/profile.svg'" style='height:100%;width:100%;overflow:hidden;object-fit:cover;background-image: url("/assets/profile.svg");' alt="">
                    
                    </div>

                    
                
                  
                </div>


        
        
                <!-- <div id="search"> 
                    <form>
                        <input type="text" id="myInput" placeholder="search" >
                        <button type="submit" (click)="searchResult()"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                  </div> -->
        </div>

      </div>

      
    
  
    </div>



    

    <!-- </div> -->


    <div *ngIf="nshow" style="position:fixed;top:100px;padding:5px auto;flex-direction: row;align-items: center;height:45px;width:100%;color:white;text-align:center;justify-content:center" [ngStyle]='{"background-color":ntype=="success"? "rgba(0, 128, 0, 0.85)":"rgba(128,0,0,0.85)"}' >
     <span >
      <span *ngIf="ntype=='success'" style="position:relative;top:-30px;font-size:30px;margin-right:10px;margin-left:10px;" >&#10003;</span>
      <span *ngIf="ntype=='err'" style="position:relative;top:-30px;font-size:30px;margin-right:10px;margin-left:10px" >&#10007;</span>
      <span style="position:relative;top:-30px;">{{ncontent}}</span>
      
      
     </span> 
      
      

    </div>
  
 