
<div id="header">

    
      <div class="wrapper">
        <div class="logo">
          <a href="#">H<i style="color:tomato" class="fa fa-stethoscope" aria-hidden="true"></i>Doc</a>
        </div>
        <div id=right>

            <span>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Doctors</a>
                <a routerLink="login">LogIn</a>
                <a routerLink="signup">SignUp</a>
                
            
                </span>
                <div id="search"> 
                    <form>
                        <input type="text" id="myInput" placeholder="search" onkeyup="searchResult()">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                  </div>
        </div>
        
      </div>
    
  
    </div>
