*{
    margin: 0;
    padding: 0;
 }

.wrapper{
    /* width: 1170px; */
    display:inline;
    width:100%;
    /* margin: 0 auto; */
}
#header{
    height: 100px;
    /* text-align: center; */
    background: #262626;
    width: 100%;
    z-index: 12;
    position: sticky;
    top:0;
}
.logo{
    text-align: left;
    width: fit-content;
    margin-left:20px;
    float: left;
    line-height: 100px;
}
.logo a{
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing: 5px;
}
#right{
    float: right;
    display:flex;
    align-items:center;
}
span{
    /* float: left; */
    display:inline;
    line-height: 100px;
}
span a{
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
#header a:hover
{
    color: royalblue;
}
#search{
    display:inline;
    height:fit-content;
    /* float:right; */
    
    padding-top: 2px;
}

#search input[type=text]{
    padding: 7px;
    border: none;
    font-size: 16px;
}
#search button{
    /* float: right; */
    height:100%;
    background: blueviolet;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding:7px;
    font-family: bignoodletitling;
    border: none;
    font-size: 16px;
}
