*{
    margin: 0;
    padding: 0;
 }
.header{
    text-align: center;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    /* width: 100%;
    z-index: 12;
    position: fixed; */
}
.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    color: #fff;
    letter-spacing: 5px;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #fff;
}
header a:hover
{
    color: royalblue;
}
.search-form{
    /* margin-top: 2px; */
    float: right;
    margin-left: 100px;
    padding-top: 2px;
    margin-bottom: 100%;
}
input[type=text]{
    padding: 7px;
    border: none;
    font-size: 16px;
}
/* button{
    float: right;
    background: blueviolet;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding:7px;
    font-family: bignoodletitling;
    border: none;
    font-size: 16px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.wrapper{
    /* width: 1170px; */
    display:inline;
    width:100%;
    /* margin: 0 auto; */
}
#header{
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: center; */
    background: #262626;
    width: 100%;
    z-index: 12;
    position: sticky;
    top:0;
}
.logo{
    text-align: left;
    width: fit-content;
    margin-left:20px;
    float: left;
    line-height: 100px;
}
.logo a{
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    /* font-family: bignoodletitling; */
    color: #fff;
    letter-spacing: 5px;
}
#right{
    float: right;
    display:flex;
    align-items:center;
}
#header span{
    /* float: left; */
    display:inline;
    line-height: 100px;
}
#header span a{
    text-decoration: none;
    
    /* font-family: bignoodletitling; */
    letter-spacing: 4px;
    font-size: 14px;
    margin: 0 10px;
    color: #fff;
}

#header a:hover
{
    color: royalblue;
}
#search{
    display:inline;
    height:fit-content;
    background-color: white;
    overflow: hidden;
    border-radius: 0 5px 5px 0;
    margin-right: 10px;
    /* float:right; */
    
    /* padding-top: 2px; */
}

#search input[type=text]{
    padding-left: 7px;
    
    border: none;
    height:100%;
    font-size: 10px;
}
#search input[type=text]:focus{
    outline:none;
}
#search button{
    /* float: right; */
    height:100%;
    background: blueviolet;
    color: white;
    
    cursor: pointer;
    position: relative;
    padding:7px;
    /* font-family: bignoodletitling; */
    border: none;
    font-size: 10px;
}
#search button:active{
    background-color:rgb(38, 23, 53);
}
