<h1>
    {{hospital.name}}
</h1>

<div id="main">
    <div id="panel">
        <img id='image' [src]="hospital.image||'assets/building.svg'" alt="" srcset="">

        <div id="middle">
            <table>
                <tr>
                    <td>Type</td>
                    <td>:</td>
                    <td>{{hospital.type}}</td>
                </tr>
                <tr>
                    <td>Speciality</td>
                    <td>:</td>
                    <td>{{hospital.speciality}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>:</td>
                    <td>{{hospital.address}}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>:</td>
                    <td>{{hospital.contact}}</td>
                </tr>
            </table>
        </div>
        <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtbAXVlI7mtq8W5A1lbii7Vzj-kKmFJAyZzA&usqp=CAU" alt=""> -->

    </div>
</div>    

    




<p style="line-height:25px;text-align: justify;letter-spacing: 1px;">
{{hospital.hospitalDescription}}
</p>